<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554431559242-5r7bpnv1gsdc6bmqtgb5k1nv6bs8htb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554431559242-5r7bpnv1gsdc6bmqtgb5k1nv6bs8htb0</string>
	<key>API_KEY</key>
	<string>AIzaSyB4UJ-BkdTXFA53m_nEWx5DuRiEscJme0o</string>
	<key>GCM_SENDER_ID</key>
	<string>554431559242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.binDayFinalPrototype</string>
	<key>PROJECT_ID</key>
	<string>bin-day-final</string>
	<key>STORAGE_BUCKET</key>
	<string>bin-day-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554431559242:ios:e5992703b01c752ef158b3</string>
</dict>
</plist>